<% obj.each do |referral| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to referral.first_name + ' ' + referral.last_name, referral_path(referral) %>
        </div>
        <div class="referral-meta-details">
          <%= time_ago_in_words(referral.created_at) %> ago,
          last updated: <%= time_ago_in_words(referral.updated_at) %> ago</small>
        </div>
        <div class="referral-actions"> 
          <%= link_to "Edit this referral", edit_referral_path(referral), class: "btn btn-xs btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>