/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require devise_bootstrap_views
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

#logo {
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.referral-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.required label:first-child:before {
  content: '*';
  color: red;
  margin-left: 2px;
}

.optional {
  font-weight: 200;
  font-style: italic;
  color: grey;
}

label {
  margin: none;
}

.ssn .medicareID .phoneNumber{
  margin-top: 0;
}

.referral-name {
  font-weight: bold;
  font-size: 1.5em;
}

.company-name {
  font-weight: bold;
  font-size: 1.5em;
}


.referral-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

#profile-btn {
  display: inline;
  padding-left: 0px;
}

#referral_verified {
  margin-top: 10px;
}

.referredBy {
  border: 1px solid rgb(214, 212, 212);
}

.ssn {
  border-bottom: 1px solid rgb(214, 212, 212);
}

.insuranceName {
  border-bottom: 1px solid rgb(214, 212, 212);
}

.phoneNumber {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.verified {
  color: rgb(43, 204, 43);
}

.notYetVerified {
  color: rgb(212, 212, 20);
}
 .rejected {
   color: red;
 }

#referral_status {
  margin-top: 10px;
}

.progress-bar-index-label {
  float: left;
  margin-right: 1em;
  margin-top: .7em;
}

.progress-bar-show-label {
  float: left;
  margin-right: 1em;
}

.progress-bar-primary {
  font-size: 9px;
}

.referral-notes {
  max-height: 300px;
  overflow: scroll;
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}

.green {
  border: 1px solid green;
}
